<%= simple_form_for(@tournament) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :number_players %>
    <%= f.input :prize %>
    <%= f.input :entrance_fee %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
