<p>
  <strong><%= Tournament.human_attribute_name(:name) %>:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong><%= Tournament.human_attribute_name(:number_players) %>:</strong>
  <%= @tournament.number_players %>
</p>

<p>
  <strong><%= Tournament.human_attribute_name(:prize) %>:</strong>
  <%= @tournament.prize %>
</p>

<p>
  <strong><%= Tournament.human_attribute_name(:entrance_fee) %>:</strong>
  <%= @tournament.entrance_fee %>
</p>

<p>
  <strong><%= Tournament.human_attribute_name(:status) %>:</strong>
  <%= @tournament.status_human %>
</p>

<p>
  <strong><%= Tournament.human_attribute_name(:user) %>:</strong>
  <%= @tournament.user.name %>
</p>

<div class="row">
  <% if can? :update, @tournament %>
      <div class="col-md-1">
        <%= link_to (t 'edit'), edit_tournament_path(@tournament), class: "btn btn-info" %>
      </div>
  <% end %>
  <% if not @registered %>
      <div class="col-md-2 center-block">
        <%= simple_form_for(@inscription) do |f| %>
            <%= f.input :tournament_id, as: :hidden, :input_html => { :value => @tournament.id} %>
            <%= f.button :submit_tag, (t "register"),  :class => "btn btn-success"  %>
        <% end %>
      </div>
  <% else %>
    <div class="col-md-2 center-block">
      <%= link_to (t "unregister"), @inscription, method: :delete, data: { confirm: (t "are_you_sure") }, class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="col-md-1">
    <%= link_to (t 'back'), tournaments_path, class: "btn btn-danger" %>
  </div>


</div>
