
<table class="display table table-condensed table-responsive">
  <thead>

    <th><h3>Datos del Torneo</h3></th>
  </thead>
  <tbody>
    <% @tournament.attributes.each do |attribute_name, attribute_value| %>
      <% if not ["id", "created_at","updated_at"].include? attribute_name  %>
        <tr>
          <% if attribute_name == "user_id" %>
              <td><%= Tournament.human_attribute_name(:user) %></td>
              <td><%= @tournament.user.name %></td>
          <% elsif attribute_name == "mode" %>
              <td><%= Tournament.human_attribute_name(:general_mode) %></td>
              <td><%= @tournament.general_mode_human %></td>
          <% elsif attribute_name == "status" %>
              <td><%= Tournament.human_attribute_name(:status) %></td>
              <td><%= @tournament.status_human %></td>
          <% else %>
            <td> <%= Tournament.human_attribute_name(attribute_name) %> </td>
            <td> <%= attribute_value %> </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>

  </tbody>


</table>


<div class="row">
  <% if can? :update, @tournament %>
      <div class="col-md-1">
        <%= link_to (t 'edit'), edit_tournament_path(@tournament), class: "btn btn-info" %>
      </div>
  <% end %>
  <% if not @registered %>
      <div class="col-md-2 center-block">
        <%= simple_form_for(@inscription) do |f| %>
            <%= f.input :tournament_id, as: :hidden, :input_html => { :value => @tournament.id} %>
            <%= f.button :submit_tag, (t "register"),  :class => "btn btn-success"  %>
        <% end %>
      </div>
  <% else %>
    <div class="col-md-2 center-block">
      <%= link_to (t "unregister"), @inscription, method: :delete, data: { confirm: (t "are_you_sure") }, class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="col-md-1">
    <%= link_to (t 'back'), tournaments_path, class: "btn btn-danger" %>
  </div>


</div>
