<%= @match.pretty_show %>

<%= @match.show_players %>



<div class="row">
  <% if can? :update, @match %>
      <div class="col-md-1">
        <%= link_to (t 'edit'), edit_match_path(@match), class: 'btn btn-info' %>
      </div>
  <% end %>
  <% if can? :validate, @match %>
      <div class="col-md-2 center-block">
        <%= simple_form_for @match, url: validate_match_path(@match), method: :patch do |f| %>
            <%= f.button :submit_tag, (t 'validate'), :class => 'btn btn-success' %>
        <% end %>
      </div>
  <% end %>
  <div class="col-md-1">
    <%= link_to (t 'back'), back_or_default(matches_path), class: 'btn btn-danger' %>
  </div>


</div>
